*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
html,body{

    font-family:"Source Sans Pro", sans-serif;

}
body{
    padding-top: 7px;
}

/*cabeçaclho*/

header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 25px;
    background-color: rgba(255, 255, 255);
    align-items: center;
    position: fixed;
    width: 100vw;
    top: 0%;
}
.menu a{
    color: black;
    text-decoration: none;
    font-size: 25px;
    
}
header a{
    color: black;
    text-decoration: none;
    font-size: 30px;
    border: 3px solid white;
}
header span{
    color: rgb(67, 173, 243);
}
.menu li{
    display: inline-flex;
    margin: 0px 10px;}

.menu a:hover{  
        border-bottom: 3px solid rgb(17, 96, 243);
        box-sizing: border-box;
}   


/*corpo da pagina*/
section{
    padding-top:85px;
}
.PRINCIPAL{
   
    background-image: url(../projeto1/img/fundo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height:92vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.boxp{
    width:850px;
    height: 350px;
    border: 2px #fcf8f8 solid;
    background-color: rgba(8, 110, 76, 0.651);
    margin:auto;
    color: white;
    border-radius: 5px;
           
}
div h1{
    font-size: 60px;
    text-align: center;
    margin-top: 50px;
}
h2{
    font-size:37px ;
    text-align: center;
    margin-top: 90px;
    font-weight: normal;
}


/*parte dos quartos da pagina inicial*/

 .boxq{
     
    height: 92vh;
    
     
 }
 .boxq .topq{
    
     height:410px;
     text-align: center;
     font-size: 70px;
     padding-top:80px;
     
     
 }
 .boxq .topq h3{
    font-weight: normal;
 }
 .boxq .topq p{
     margin: 40px;
     font-size:35px;
         
 }
 .boxq .midq {
    
    height:500px; 
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.img1 {
    height: 320px;
    width: 490px;
    background-image: url(./img/img1.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
}
.img2{
    height: 320px;
    width: 490px;
    background-image: url(./img/img4.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
} 
.img3{
    height: 320px;
    width: 490px;
    background-image: url(./img/img7.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
}
.box1 , .box2 , .box3{
    display:inline-block;  
    padding: 0px 30px 0px; 
    
}
.des1 , .des2 , .des3{
    
    height: 90px;
    width: 490px;
    text-decoration: none;
    text-align: center;
    padding-top: 17px;
    border: solid 3px white;
    
}
.aa{
    text-decoration: none;
    color: black;
    font-size: 35px;
    
    
}

/*parte da ROTA*/
.rotabox{
    height: 90vh;
    text-align: center;

    margin-bottom: 200px;
    
    
   
}
.boxr1 h3{
    font-size: 70px;
    font-weight: normal;
    padding: 20px;
    margin-top: 70px;
}
.boxr1 p{
    font-size:35px;
    padding: 50px;
}
.boxr2 iframe{
    background-color: rgb(183, 241, 241);
    width: 99vw;
    height: 650px;
}

/*parte do SOBRE*/

.boxsobre{
    height: 90vh;
    
}
.boxs1{    
    height: 200px;
    text-align: center; 
    padding: 20px; 
}
.boxs1 h3{
    font-weight: normal;
    font-size: 55px;
}
.boxs1 p{
    font-size: 30px;
    margin-top: 60px;
}
.boxs2{    
    height: 700px;
    padding: 50px 0px;
    
    
}
.linha1{    
    height:305px;
    display: flex; 
    justify-content: space-evenly;
}
.card1{    
    height: 300px;
    width: 720px;
    display: flex;    
}
.card2{    
    height: 300px;
    width: 720px;
    display: flex;
}
.linha2{    
    height: 305px;
    display: flex;
    justify-content: space-evenly;
}
.card3{    
    height: 300px;
    width: 720px;
    display: flex;
}
.card4{    
    height: 300px;
    width: 720px;
    display: flex;
}
.apousada h4, .nossosquartos h4, .alimentacao h4, .recepcao h4{
    font-size: 30px;
    margin: 50px 0px ;
}
.apousada p, .nossosquartos p, .alimentacao p, .recepcao p{
    font-size: 20px;

}
.img01{    
    background-image: url(./img/img01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    width: 600px;  
}
.img02{    
    background-image: url(./img/img02.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    width: 600px;  
}
.img03{
    background-image: url(./img/img03.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    width: 600px;  
}
.img04{    
    background-image: url(./img/img04.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    width: 600px;  
}
.apousada , .nossosquartos , .alimentacao, .recepcao {
    width: 800px;
}
.linha1,.linha2{
    margin: 20px 0px;
}
/*parte do rodape*/

.rodape{
    background-color: rgba(83, 155, 127, 0.767);
    height: 250px;
    bottom: 100%;
    margin-top: 50px;
    
    
}
.rodape .linha1{
  
    height: 150px;
    display: flex;
    width: 80%;
    justify-content:space-between;
    margin: auto;
    align-items: center;
    border-bottom: 2px solid rgba(0, 0, 0, 0.705);
    padding-left: 100px;
}
.rodape .linha2 {
    color: white;
    height: auto;
    
}
.entre, .endereco a, .contato a, .link a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    display: flex;
    align-items: center;
    padding: 15px 5px 0px 5px;
    
    
}
.entre,.endereco,.contato,.link{
height: 80px;
width: 350px;
padding: 0px;
}
.endereco img,.contato img,.link img{
    height: 60px;
    width: 60px;
    padding-right: 10px;
    
}


/* ________________________________________________ */

/*quartos HTML*/

.div10{
    
    width: 100%;
    height: auto;
    margin:60px 0px ;
    padding: 20px 0px;
}
/*img fundo*/

.imgg{
    background-image: url(./img/fundo.jpg);
    width: 100%;
    height: 260px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-x: center;
    background-position-y: 14%;
    margin-top: 85px;
    margin-bottom: 100px;

}

/*quartos solteiro*/

.qua1{
    
    width: 100%;
    height: auto;
    
}

.escritas1{
     
    text-align: center;
    font-size: 40px; 
    padding-bottom:80px;
    
       
}
.escritas1 h3{
    font-weight: normal;
    font-size:70px;
    padding-bottom: 40px;
    text-transform: uppercase; 
    
}
.solteiroimagens{
    
    width: 80%;
    height: 320px;
    display: flex;
    justify-content: center;
    margin:0px auto 0px;
    

    
    
}
.solteiro1{
    background-image: url(./img/img2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 320px;
    width: 490px;
    
}
.solteiro2{
    background-image: url(./img/img1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 320px;
    width: 490px;
}
.solteiro3{
    background-image: url(./img/img3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 320px;
    width: 490px;
}


.listatopp{
    
    text-align:center;
    font-size: 30px;
    padding: 70px 0px;
}
.listamidd{
    
    margin-bottom: 130px;
}
#list {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    
}
#list li{
    font-size: 20px;
}
#qua1{
    
    height: 2px;
}

.solteiro4{
    background-image: url(./img/img4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 320px;
    width: 490px;
}
.solteiro5{
    background-image: url(./img/img5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 320px;
    width: 490px;
}
.solteiro6{
    background-image: url(./img/img6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 320px;
    width: 490px;
}
.solteiro7{
    background-image: url(./img/img8.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 320px;
    width: 490px;
}
.solteiro8{
    background-image: url(./img/img7.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 320px;
    width: 490px;
}
.solteiro9{
    background-image: url(./img/img9.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 320px;
    width: 490px;
}

.solteiro1, .solteiro2, .solteiro3, .solteiro4, .solteiro5, .solteiro6, .solteiro7 , .solteiro8 , .solteiro9 {
    margin: 0px 5px ;
   
}
.des1:hover , .des2:hover , .des3:hover{
    border-bottom: 3px solid rgb(17, 96, 243);
}